<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>119978416975-bimc1mnj16hj587stio8vi37pmnhpe09.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.119978416975-bimc1mnj16hj587stio8vi37pmnhpe09</string>
	<key>API_KEY</key>
	<string>AIzaSyDpWRIdrC2fb0irbFDMqjUwHQY9QXrVoSs</string>
	<key>GCM_SENDER_ID</key>
	<string>119978416975</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mx.elektra.appelektraPRBADlinks</string>
	<key>PROJECT_ID</key>
	<string>dinamyclinksektprueba</string>
	<key>STORAGE_BUCKET</key>
	<string>dinamyclinksektprueba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:119978416975:ios:fc421eb5b8f49c0ee8833a</string>
	<key>DATABASE_URL</key>
	<string>https://dinamyclinksektprueba-default-rtdb.firebaseio.com</string>
</dict>
</plist>